Package: weeb.lillie.gympassjbbypass
Name: Gympass JB Bypass
Version: 1.0.1
Architecture: iphoneos-arm
Description: Bypass JB Detection In Gympass
Maintainer: Lillie
Author: Lillie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)